{% extends "tareas/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <img class="custom-image" src="{% static 'img/logo.png' %}" alt="logo">
        <h2>TaskFlow Pro:</h2>
        <h5>" Transforma tu productividad, una tarea a la vez."</h5>
        
        <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
        <h2>Atributos Clave de TaskFlow Pro</h2>
        <h6>Gestión de Tareas Intuitiva:</h6>
        <p>Una interfaz de usuario amigable que simplifica la creación, asignación y seguimiento de tareas, incluso para usuarios sin experiencia previa en gestión de proyectos.</p>
        <h6>Colaboración en Tiempo Real:</h6>
        <p>Facilita la colaboración entre equipos y usuarios al permitir comentarios, actualizaciones y notificaciones en tiempo real para mantener a todos en la misma página.</p>
        
        <h2 class="mt-5"> Ventajas de TaskFlow Pro</h2>
        <h6>Aumento de la Productividad:</h6>
        <p>Optimiza la productividad de tu equipo al eliminar la confusión en la gestión de tareas y garantizar que cada miembro sepa exactamente qué hacer y cuándo.</p>
        <h6>Mayor Transparencia:</h6>
        <p>Proporciona una visión clara del progreso de los proyectos y las tareas, lo que mejora la transparencia y la rendición de cuentas en toda la organización.</p>
        <h6>Reducción de Errores:</h6>
        <p>Minimiza los errores y la duplicación de esfuerzos al centralizar la gestión de tareas y proporcionar una vista única y actualizada de todos los proyectos y tareas pendientes.</p>
    </div>
    </div>
</div>


{% endblock content %}


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>